In [1]:
import anndata as ad
import numpy as np

In [2]:
adata = ad.read_h5ad("../data/test_data.h5ad", backed=True)
adata

AnnData object with n_obs × n_vars = 67785 × 951 backed at '../data/test_data.h5ad'
    obs: 'counts_per_cell', 'non_zero_features', 'cell_id', 'disease_state', 'slide', 'tissue', 'fov'
    var: 'counts_per_gene', 'highly_variable', 'highly_variable_rank', 'means', 'variances', 'variances_norm'
    uns: 'hvg', 'log1p'
    layers: 'log1p', 'raw'

In [3]:
hvgs = adata.var[adata.var["highly_variable"]].copy()
hvgs

,counts_per_gene,highly_variable,highly_variable_rank,means,variances,variances_norm
Abca2,18947,True,800.0,0.279516,0.357651,0.859588
Abi1,48137,True,933.0,0.710142,1.076550,0.747721
Abi2,9686,True,537.0,0.142893,0.176147,0.945074
Abl1,16608,True,691.0,0.245010,0.317079,0.904099
Ace2,5576,True,250.0,0.082260,0.100751,1.008844
...,...,...,...,...,...,...
Il22,7209,True,480.0,0.106351,0.127321,0.958035
Il22ra1,12941,True,453.0,0.190912,0.254727,0.963450
Nos3,15339,True,444.0,0.226289,0.306620,0.964703
S100a8,20383,True,0.0,0.300701,7.744627,16.974662
Thpo,16366,True,151.0,0.241440,0.369447,1.074060

In [4]:
hvgs_ranked = hvgs.sort_values("variances_norm", ascending=False)
hvgs_ranked

,counts_per_gene,highly_variable,highly_variable_rank,means,variances,variances_norm
S100a8,20383,True,0.0,0.300701,7.744627,16.974662
Spp1,38876,True,1.0,0.573519,14.942462,13.524484
Glul,302273,True,2.0,4.459290,343.189011,11.723690
Slc1a2,29089,True,3.0,0.429136,4.893011,6.808238
Ccl5,12389,True,4.0,0.182769,1.320410,5.237417
...,...,...,...,...,...,...
Fth1,2715496,True,946.0,40.060426,1287.055153,0.691767
Gnai2,98246,True,947.0,1.449377,2.767033,0.678187
Gnas,250976,True,948.0,3.702530,12.983651,0.627292
Ybx1,387080,True,949.0,5.710408,25.022709,0.534443
Itm2b,520358,True,950.0,7.676595,41.359441,0.503509

In [6]:
genes_for_selection = hvgs_ranked[25:75]

# Choose random genes
np.random.seed(12062025)
selected_genes = np.random.choice(50, size=20, replace=False)

genes_to_exclude = genes_for_selection.iloc[selected_genes]
testing_mask = ~adata.var_names.isin(genes_to_exclude.index)
testing_genes = adata.var_names[testing_mask]
testing_genes

Index(['Abca2', 'Abi1', 'Abi2', 'Abl1', 'Ace2', 'Acer3', 'Acta2', 'Ada',
       'Adam10', 'Adam22',
       ...
       'Ccl5', 'Cdkn1a', 'Dpp4', 'Hnf1a', 'Hnf4a', 'Il22', 'Il22ra1', 'Nos3',
       'S100a8', 'Thpo'],
      dtype='object', length=931)

In [8]:
testing_genes.to_series().to_csv("imputation_mask.csv", index=False, header=False)

In [2]:
tdata = ad.read_h5ad("../data/adata_subset_nafld.h5ad")